[Unit]
Description=Sauerbraten server mod
After=network.target

[Service]
Type=forking
PIDFile=/run/remod.pid
ExecStart=/usr/bin/remod -p/run/remod.pid -q/opt/remod -gserver.log -d

[Install]
WantedBy=multi-user.target
